html, body {
	height: 100%;
}

body {
	background-color: var(--light);
	background: url(../img/body_bg.png);
	position: relative;
}

button:focus, input:focus, input:active, .btn:focus, .btn:active {
	outline: none;
}

main {
	height: inherit;
	background-color: var(--white);
	overflow: hidden;
}

main .btn {
	text-shadow: 0 1px 0 #4B4A4A;
	outline: none;
}

main .btn-default {
	border: 1px solid var(--gray);
	text-shadow: none;
}

main .progress {
	height: 40px;
	margin-bottom: 20px;
	cursor: pointer;


}

.content {
	height: inherit;
	position: relative;
}

.home {
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 1.5rem;
}

.play-view {
	height: inherit;
	padding: 1.5rem;
	background: url(../img/bckg.jpg) no-repeat center center;
	background-size: cover;
}

.play-view .card-view {
	background-color: var(--white);
	border: 1px solid var(--grey);
	z-index: 10;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 7px 3px rgba(0,0,0,0.6);
	box-shadow: 0 2px 7px 3px rgba(0,0,0,0.6);
}

.play-view .card-view.common {
	background-color: var(--primary);
}

.card-title {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #E2E2E2;
}

.card-inner {
	height: 100%;
	background-color: var(--white);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.card-word {
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	line-height: normal;
	cursor: pointer;
}

.logo {
	width: 150px;
	height: 40px;
	display: inline-block;
	background: url(../img/a.png) no-repeat center center;
}

.btn-start {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding: 0.5rem 0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#99389f),color-stop(100%,#752a79));
	background: -webkit-linear-gradient(top,#99389f,#752a79);
	background: linear-gradient(to bottom,#99389f,#752a79);
	background-color: #87318C;
	border-color: #632466;
	color: #FFF;

	box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);
	text-shadow: 0 1px 1px #0E0E0E;
	border-width: 1px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	cursor: pointer;
}

.close-play {
	position: absolute;
	top: -1rem;
	right: -1rem;
	background: var(--white) url(../img/cross.png) no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: 1px solid var(--red);
	z-index: 100;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.5);
	box-shadow: 0 2px 5px 2px rgba(0,0,0,0.5);
}

.open-settings {
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../img/tools.png) no-repeat center center;
	opacity: 0.5;
}

.open-settings:hover,
.open-settings:active {
	opacity: 1;
}

.count-block {
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	position: relative;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
}

.count-block .title {
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

.reset-count {
	position: absolute;
	top: 5px;
	right: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	letter-spacing: 0.1em;
	font-size: 16px;
	color: var(--indigo);
}

.count-item {
	border: 1px solid #8F8F8F;
	padding: 10px;
	color: #fff;
	font-size: 80px;
	text-align: right;
	font-weight: bold;
	line-height: 75px;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;

	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
}

.count-item .plus,
.count-item .minus {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
	font-size: 3rem;
	line-height: 3rem;
	text-align: left;
	text-indent: 1rem;
	opacity: 0.8;
	cursor: pointer;
}

.count-item .plus {
	color: var(--green);
	top: 0;
}

.count-item .minus {
	color: var(--red);
	bottom: 0;
	text-indent: 1.25rem;
}

.count-block.edit .plus,
.count-block.edit .minus {
	display: block;
}

.command-count {
	position: absolute;
	top: -1px;
	right: -10px;
	min-width: 8px;
	height: 20px;
	line-height: 18px;
	margin-top: -11px;
	padding: 0 6px;
	font-weight: normal;
	font-size: 12px;
	color: white;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	background: #e23442;
	border: 1px solid #911f28;
	border-radius: 11px;
	background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
	background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
	background-image: -o-linear-gradient(top, #e8616c, #dd202f);
	background-image: linear-gradient(to bottom, #e8616c, #dd202f);
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.command .title {
	font-size: 1rem;
	font-weight: bold;
	color: #303030;
	text-shadow: 0 1px 1px #E2E2E2;
}

.p-relative { position: relative; }
.p-absolute { position: absolute; }
.hidden { display: none; }
.text-small { font-size: 0.75rem; }

@media (min-width: 575.98px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	main {
		width: 360px;
		height: 540px;
		border: 1px solid var(--secondary);
		border-radius: 5px;
	}
}