<section class="cards-block-bg">
  <div class="cards-block">
      <div id="close-settings"></div>
        <h3>Настройки игры</h3>
        <div class="set-block">
          <h4>Названия команд</h4>
          <div id="commands"></div>
          <div class="text-center"><span class="btn btn-default btn-xs" id="add-command">Добавить команду</span></div>
        </div>
        <div class="set-block">
          <h4>Время карточек</h4>
          <div class="time-slide">
            <label>Объяснить слово <span id="say-time">(<i></i>)</span></label>
            <div id="say-slide" class="ui-slide"></div>
          </div>
          <div class="time-slide">
            <label>Показать слово <span id="show-time">(<i></i>)</span></label>
            <div id="show-slide" class="ui-slide"></div>
          </div>
          <div class="time-slide">
            <label>Нарисовать слово <span id="draw-time">(<i></i>)</span></label>
            <div id="draw-slide" class="ui-slide"></div>
          </div>
        </div>
        <div class="set-block">
          <h4>Дополнительно</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="show-count"> Показывать очки команд на кнопках
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="play-sound"> Включить звук
            </label>
            <!-- <p class="help-block"><strong>chrome://flags</strong> » set Disable gesture requirement for media playback to on.</p> -->
          </div>
        </div>
  </div>
</section>
